@media only screen and (max-width: 500px) {
    #navbar {
        /* flex-direction: column; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        overflow: hidden;
        height: 80px;
        font-size: 14px;
    }
    .projects-table div{
      width: 100%;
    }
  }