@media only screen and (max-width: 768px) {
    .course{
      flex-direction: column;
    }
    .page-navbar{
      height: 110px;
    }
    .page-navbar ul{
      flex-direction: column;
      margin-bottom: 10px;
    }
    .page-navbar ul li{
      margin-top: 12px;
    }
  }